RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://airbnb.wmsignaturegroup.com/$1 [R=301,L]

# Pour React Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]